@model WebLab3.Models.Person
@{
    ViewData["Title"] = "Add Person";
}
<form asp-action="AddPerson" method="post">
    <div class="form-horizontal">
        <h2>New Person</h2>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="FirstName"><font color='red'>* </font>First Name:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="FirstName" name="FirstName" placeholder = "Jane" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="LastName"><font color='red'>* </font>Last Name:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="LastName" name="LastName" placeholder = "Doe" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="BirthDate">Birth Date:</label>
            <div class="col-md-10">
                <input class="form-control" type="date" id="BirthDate" name="BirthDate" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p><font color='red'>* </font> <i>indicates a required field.</i> </p>

            </div>
        </div>
    </div>
</form>
