@model Lab_3_Web_Application_Design.Models.Person
@{ 
    ViewData["Title"] = "People";
}
<h2>
    <p>Name: @ViewData["name"]</p>
    <p>Birth Date: @ViewData["birthDate"]</p>
    <p>Age: @ViewData["age"]</p>
</h2>
